body {
    background-color: $violet;
    background-image: url("../images/bg-mobile.svg");
    background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    min-height: 100vh;
    @media screen and (min-width: 768px) {

        background-image: url("../images/bg-desktop.svg");

    

    }
}